@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Space+Grotesk:wght@300;400&display=swap');
@font-face{
    font-family: ForNavbar;
    src: url(../Font/Matahari/MatahariExtended-700ExtBold.woff) ,format('woff'); 
}
@font-face{
    font-family: Forheading;
    src: url(../Font/Aileron-Regular-webfont.woff) format("woff");
}
/* 
font-family: 'Open Sans', sans-serif; --> Header Paragraf dan Footer
font-family: 'Space Grotesk', sans-serif; --> Main paragraf
font-family: ForNavbar; --> utk navbar
font-family: ForHeading; --> utk heading

*/

/* GLOBAL STYLE AND CUSTOM STYLE */
:root{
    scroll-behavior: smooth;
    --parallax-layer-1: -10;
    --parallax-layer-2: -20;
    --parallax-layer-3: -30;
    --parallax-layer-4: -40;
}
p{
    font-family: 'Open Sans', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    color: white;
}
/* CUSTOM STYLE */
.text-mini{
    font-size: 12px;
}
.margin-top-delete {
    margin-top: 5px;
}
.margin-bottom-delete {
    margin-bottom: 5px;
}
.text-indent{
    text-indent: 40px;
}
.text-white{
    color: white;
}
/* Style */

/* AWAL DARI HEADER */
#carousel-gg{
    z-index: var(--parallax-layer-4);
    position: fixed;
}
img.carousel-item, .open-hp, carousel-container{
    width: 1349px !important;
    height: 100vh !important;
    /* background-size: cover; */
}
.carousel-wrap{
    position: relative;
    height: auto;
}
.open-hp{
    display: none;
}
header{
    position: relative;
    height: 100vh;
}
.overlay-header{
    padding-top: 150px;
}
/* AWAL DARI EFFECT HOVER OVERLAY  */
.bg-dark.gg-gaming, .about-overlay, 
.pohon-overlay, .pohon-text, 
.learn-overlay, .learn-text-overlay{
    box-shadow: 10px 10px black;
    transform: translate(-5px, -5px);
    transition: all .3s;
    border-radius: 5px; 
}
.bg-dark.gg-gaming:hover, .about-overlay:hover
, .pohon-overlay:hover, .pohon-text:hover
, .learn-overlay:hover, .learn-text-overlay:hover
{
    box-shadow: 5px 5px black;
    transform: translate(0, 0);
}
/* AKHIR DARI EFFECT HOVER OVERLAY  */
.bg-dark.gg-gaming{
    background-color: rgba(0,0,0,0.5);
    height: auto;
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    color: white;
    animation: gg-gaming-animation .5s 1s forwards;
}
.header-p, .header-h1{
    animation: isi-header-amination .4s 1.8s forwards;
}
.header-h2{
    animation: isi-header-amination .4s 2.6s forwards;
}
.header-p-1{
    animation: isi-header-amination .4s 3.1s forwards;
}
.header-p-2{
    animation: isi-header-amination .4s 3.2s forwards;
}
.btn-border[href="#about"]{
    animation: fade-kanan-ke-kiri .4s 3.7s forwards;
}
.btn-border[href="#learn_more"]{
    animation: fade-kiri-ke-kanan .4s 3.7s forwards;
}
.header-p, .header-h1, .header-h2, 
.header-p-1, .header-p-2, 
.btn-border[href="#about"], 
.btn-border[href="#learn_more"]{
    opacity: 0;
    pointer-events: none;
}

.header-h1{
    font-family: ForHeading;
    padding-bottom: 5px;
}
.header-h2{
    font-family: 'Open Sans', sans-serif; 
    font-style: italic;
}
.border-bottom{
    border-bottom: 2px solid white;    
}
.p-header{
    margin-top: 20px;
}
.btn-border{
    border: 2px solid white;
    color: white;
    margin-top: 20px;
    border-radius: 0 !important;
    padding: 18px 48px;
    transition: all .5s;
    position: relative;
    font-weight: bold;
    z-index: 999 !important;
}

.block-effect{
    content: "";
    display: block;
    width: 0;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    top: 0;
    transition: all .5s;
    z-index: -1;
}
.block-effect-1{
    left: 0;
}
.block-effect-2{
    right: 0;
}
.btn-border:hover{
    color: black !important;
}
.btn-border:active{
    color: black;
}
.btn-border:focus{
    color: black;
}
.btn-border:hover > .block-effect{
    width: 100%;
}

/* AKHIR DARI HEADER */
/* AWAL DARI NAVBAR */
.navbar-default{
    background: rgba(0,0,0,0);
    font-family: 'Space Grotesk', sans-serif;
    border-color:rgba(0,0,0,0);;
    font-size: 20px;
    font-weight: bold;
    transition: all .4s;
}
.navbar-brand, .nav.navbar-nav li a, .nav.navbar-nav.navbar-right li a{
    color: white !important;
}
.navbar-brand{
    font-size: 25px;
    font-family: 'Space Grotesk', sans-serif;
}
span.icon-bar{
    background-color: #fff !important;
}
.navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:focus{
    background-color: #9E5024 !important;
}
.collapsing{
    background-color: #9E5024;
}
.in{
    background-color: #9E5024;
}
/* AKHIR DARI NAVBAR */

/* AWAL DARI MAIN */

main{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(208,145,91,0.25) 16%, rgba(208,145,91,0.5) 23%, rgba(208,145,91,0.75) 36%, rgba(208,145,91,0.9) 58%, rgba(208,145,91,1) 100%);
}
/* AKHIR DARI MAIN */

/* AWAL DARI ABOUT */
#about{
    padding: 50px 0;

}
.about-overlay{
    background: rgba(0,0,0,0.5);
    padding: 0 30px 30px 30px;
    color: white;
    opacity: 0;
    pointer-events: none;
}
/* BAGIAN ANIMASI JS */
.fade-overlay-about{
    animation: gg-gaming-animation .5s  forwards;
}
.about-h2, .about-h3, .about-p-visi, .about-li{
    opacity: 0;
    pointer-events: none;
}
.about-h2-animation{
    animation: gg-gaming-animation .4s .8s forwards;
}
.about-h3-animation{
    animation: gg-gaming-animation .4s 1.8s forwards;
}
.about-p-animation{
    animation: isi-header-amination .4s 2.2s forwards;
}
.about-p-animation-2{
    animation: isi-header-amination .4s 2.3s forwards;
}
.about-li-animation:nth-child(1),
.about-li-animation:nth-child(2),
.about-li-animation:nth-child(3),
.about-li-animation:nth-child(4) {
    animation-name: isi-header-amination;
    animation-fill-mode: forwards;
    animation-duration: .4s;
    /* animation-delay: calc(.2s * var(--i)) ; */
}
.about-li-animation:nth-child(1){
    animation-delay: 2.6s;
}
.about-li-animation:nth-child(2){
    animation-delay: 2.8s;
}
.about-li-animation:nth-child(3){
    animation-delay: 3s;
}
.about-li-animation:nth-child(4){
    animation-delay: 3.2s;
}
/* BAGIAN ANIMASI JS */
.about-h3, .about-h2{
    cursor: pointer;
}
.about-h2::after, .about-h3::after, .gallery-h2::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transition: all .6s;
}
.about-h2::after{
    transform: scaleX(1);
    height: 2px;
}
.about-h3::after{
    transform: scaleX(0.5);
}
.about-ol{
    counter-reset: ulang;
}
.about-li{
    list-style: none;
    line-height: 20px;
}
.about-li::before{
    content: counter(ulang);
    counter-increment: ulang;
    width: 2em;
    height: 2em;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #863f15;
    box-shadow: 2px 2px  #50250d;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    margin: 5px 10px 5px 0;
    font-size: 15px;
}
/* akhir DARI ABOUT */
/* awal pohon */
.pohon{
    /* height: 635px; */
    display: grid;
    justify-items: center;
}
.pohon-overlay{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
    background: rgba(0,0,0,0.5);
    padding: 30px;
}
/* AWAL DARI ANIMASI JS */
.pohon{
    opacity: 0;
    pointer-events: none;
}
.img1, .img2, .img3, .pohon-p{
    opacity: 0;
    pointer-events: none;
}
.pohon-animation{
    animation: fade-kanan-kiri-overlay .4s 3.7s forwards;
}
.img1{
    animation: isi-header-amination .4s 4.5s forwards;
}
.img2{
    animation: isi-header-amination .4s 5.2s forwards;
}
.img3{
    animation: isi-header-amination .4s 6s forwards;
}
.pohon-p{
    animation: gg-gaming-animation .4s 6.8s forwards;
}
/* AKHIR DARI ANIMASI JS */
.img1, .img2, .img3{
    width: 100%;
    height: 100%;
} 
.img1{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.img2{
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}
.img3{
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}
.pohon-text{
    grid-row: 2 / 3;
    grid-column: 1 / 2 ;
    color: white;
    background: rgba(0,0,0,0.5);
    margin: 15px 15px 15px 0;
    border-radius: 5px;
}
/* akhir pohon */
/* Awal dari lanjutan-learn-more  */
.learn-wrap{
    padding: 50px 0 ;
    background: rgba(208,145,91,1);
}
.learn-overlay{
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    height: 500px;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 15px;
    opacity: 0;
    pointer-events: none;
}
.learn-img1{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.learn-banjir{
    margin: 0 0 15px 15px;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.learn-img2{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.learn-kebakaran {
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 15px 0 0;
}
.learn-text-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0,0,0,0.5);
    padding: 20px;
    max-height: 600px;
    height: 500px;
    opacity: 0;
    pointer-events: none;
}
.learn-p-1, .learn-p-2, 
.learn-p-3, .learn-p-4,
.learn-img1, .learn-img2, 
.learn-banjir, .learn-kebakaran{
    opacity: 0;
    pointer-events: none;
}
/* ANIMASI JS */
.learn-animation{
    animation: learn-fade-kiri-kanan .4s 3.7s forwards;
}
@keyframes learn-fade-kiri-kanan{
    from{
        opacity: 0;
        pointer-events: none;
        margin-left: -75px;
    }
    to{
        opacity: 1;
        pointer-events: all;
        margin-left: 8.33333333%;
    }
}
.learn-overlay-animation{
    animation: gg-gaming-animation .5s  forwards;
}
.learn-p-1-animation{
    animation: isi-header-amination .4s 4.7s forwards;
}
.learn-p-2-animation{
    animation: isi-header-amination .4s 4.8s forwards;
}
.learn-p-3-animation{
    animation: isi-header-amination .4s 4.9s forwards;
}
.learn-p-4-animation{
    animation: isi-header-amination .4s 5s forwards;
}
.learn-img1-animation{
    animation: gg-gaming-animation .5s  1.7s forwards;
}
.learn-img2-animation{
    animation: gg-gaming-animation .5s  1.7s forwards;
}
.learn-kebakaran-animation{
    animation: isi-header-amination .4s 2.5s forwards;
}
.learn-banjir-animation{
    animation: isi-header-amination .4s 2.7s forwards;
}
/* ANIMASI JS */
/* akhir dari lanjutan-learn-more  */


/* Awal dari reboisasi Tolltip */
.tool-wrap{
    position: relative;
}
.tool-klik{
    width: 300px;
    background: royalblue;
    position: absolute;
    opacity: 0;
    margin-bottom: 20px;
    transition: all .3s;
    pointer-events: none;
    padding: 10px 15px;
    top: -308px;
}
.tooltip-a{
    color: blue;
}
.tool-klik::after{
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: -18px;
    left: 0;
}
.reboisasi-tooltip-img{
    width: 100%;
    transform: translateX(-40px);
}
.reboisasi-tooltip-p{
    text-align: justify;
    text-indent: 20px;
    color: white;
}
.tooltip-a:hover > .tool-klik{
    opacity: 1;
    top: -288px;
    pointer-events: all;
}

/* AWAL DARI GALLERY */
.gallery{
    background-image: url(../IMG/gallery/background/background-gallery.jpg);
}
.gallery-a-img{
    padding: 0 25px 25px 30px;
    transition: all .3s;
}
.gallery-a-img:hover{
    color: white;
}
.gallery-img{
    transition: all .3s;
}
.gallery-h2::after{
    width: 50%;
}
.img-wrap{
    height: auto; 
    width: auto;
    position: relative;
    transition: all .3s;
}
.img-wrap::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0,0,0,0.5);
    opacity: 0;
}
.img-xs{
    display: none;
}
.img-xs-gone{
    display: initial;
}
.gallery-a-img:hover .img-wrap::after{
    opacity: 1;
}
.gallery-a-img:hover .img-section{
    opacity: 1;
}
.img-section {
    position: absolute;
    bottom: 50px;
    font-family: 'Forheading';
    font-weight: lighter;
    left: 50px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 6px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    opacity: 0;
    padding: 0 0 2px 5px;
    transition: all .3s .15s;
}
.gallery-a-img:hover{
    color: white;
}

/* GALLERY JS ANIMATION */
.gallery-img{
    opacity: 0;
    transform: translateY(-50px);}
.muncul{
    opacity: 1;
    transform: translateY(0);
}
/* GALLERY JS ANIMATION */

/* Membuat gallery system */
.img-fullscreen{
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: all .6s;
    padding: 70px 0;
}
.img-fullscreen, .fullscreen-mode, .btn-right, .btn-left, .btn-close{
    transition: all .6s;
}
.img-fullscreen:target{
    width: auto;
    height: auto;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
}
.img-fullscreen:target .fullscreen-mode{
    animation: img-hero .6s forwards;
}
.img-fullscreen:target .btn-close{
    animation: btn-close .6s .6s forwards;
}
.img-fullscreen:target .btn-left{
    animation: btn-left .6s 1s forwards;
}
.img-fullscreen:target .btn-right {
    animation: btn-right .6s 1s forwards;
}
.wrap-img {
    position: relative;
}
.fullscreen-mode{
    height: 70vh;
    box-shadow: 0 0 0 10px white;
    border-radius: 20px;
}
.btn-close, .btn-left, .btn-right{
    opacity: 0;
    pointer-events: none;
}
.btn-close{
    position: absolute;
    transform: translateX(400%);
    top: -8%;
    background: white;
    padding: 5px;
    border-radius: 50%;
    color: black;
    z-index: 999;
}
.btn-left i, .btn-right i{
    padding: 5px 10px;
    background: white;
    color: black;
}
.btn-left i{
    transform: translateX(-6px) !important;
}
.btn-right i{
    transform: translateX(6px) !important;
}
.btn-left i {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.btn-right i {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
a.btn-close:hover {
    color: white;
    background: red;
}
a.btn-close:hover ~ .fullscreen-mode{
    box-shadow: 0 0 0 10px red;
}

/* AWAL DARI FOOTER */
.footer{
    background: #E1AF40;
    padding-top: 50px;
    position: relative;
}
.footer-input{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.footer-h2-form{
    font-family: Forheading, serif;
    font-weight: bold;
}
.btn-form{
    background: #C2781E;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.btn-form:hover{
    background: #b4701c;
}
.btn-form:focus{
    outline: none;
}
.footer-h2{
    border-bottom: 5px solid white;
}
.footer-h3{
    font-weight: bold;
    margin-bottom: 0;
}
.footer-h4{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.icon-footer{
    background: #7C380F;
    padding: 5px 6px;
    border-radius: 5px;
    transition: all .3s;
}
.fa-instagram:hover{
    color: rgb(193,53,132);
}
.fa-facebook:hover{
    color: rgb(31, 91, 212);
}
.fa-twitter:hover{
    color: rgb(29,161,242);
}
.copyright{
    background: #C2781E;
    padding: 25px 0 ;
}
.footer-container {
    padding-bottom: 50px;
}
.copy-h4{
    font-style: italic;
}
.footer-form, .footer-help, .footer-social-media{
    opacity: 0;
    pointer-events: none;
}
/* AANIMASI JS */
.footer-form-animation{
    animation: fade-atas-bawah .4s forwards;
}
.footer-help-animation{
    animation: fade-atas-bawah .4s .6s forwards;
}
.footer-social-media-animation{
    animation: fade-atas-bawah .4s 1.2s forwards;
}
@keyframes fade-atas-bawah {
    0%{
        opacity: 0;
        pointer-events: none;
        transform: translateY(-100px);  
    }
    100%{
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);
    }
}
/* AANIMASI JS */
/* AKHIR DARI FOOTER */
/* AWAL ANIMASI UNTUK BAGIAN HEADER */
@keyframes gg-gaming-animation{
    0%{
        margin-left: -75px;
        opacity: 0;
        pointer-events: none;
    }
    100%{
        margin-left: 0;
        opacity: 1;
        pointer-events: all;
    }
}
@keyframes fade-kanan-kiri-overlay{
    0%{
        transform: translateX(75px);
        opacity: 0;
        pointer-events: none;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
        pointer-events: all;
    }
}
/* AKHIR ANIMASI UNTUK BAGIAN HEADER */

/* Bagian awal dari animsi buat header */
@keyframes isi-header-amination{
    0%{
        transform: translateY(-30px);
        opacity: 0;
        pointer-events: none;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
        pointer-events: all;
    }
}
@keyframes fade-kanan-ke-kiri{
    0%{
        transform: translateX(40px);
        opacity: 0;
        pointer-events: none;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
        pointer-events: all;
    }
}
@keyframes fade-kiri-ke-kanan{
    0%{
        transform: translateX(-40px);
        opacity: 0;
        pointer-events: none;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
        pointer-events: all;
    }
}
/* Bagian akhir dari animsi buat header */

@keyframes img-hero{
    0%{
        opacity: 0;
        margin-top: -30px;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
}
@keyframes btn-close{
    0%{
        opacity: 0;
        margin-top: -30px;
        pointer-events: none;
    }
    100%{
        opacity: 1;
        margin-top: 0;
        pointer-events: all;
    }
}
@keyframes btn-left{
    0%{
        opacity: 0;
        pointer-events: none;
    }
    100%{
        opacity: 1;
        pointer-events: all;
    }
}
@keyframes btn-right{
    0%{
        opacity: 0;
        pointer-events: none;
    }
    100%{
        opacity: 1;
        pointer-events: all;
    }
}


/* AKHIR DARI GALLERY */
/* Media Queries */

/* untuk tootltip reboisasi */
@media only screen and (max-width:440px){
    .btn-border{
        padding: 13px 28px;
    }
    .overlay-header{
        padding-top: 80px;
    }
}
@media only screen and (max-width:410px){
    .img-rensponsive[alt="orchid"], .img-rensponsive[alt="geranium"]{
        height: 60vh;
    }
    .learn-banjir, .learn-kebakaran{
        font-size: 16px;
    }
}

@media only screen and (max-width:768px){
    .img-xs{
        display: initial;
    }
    .img-xs-gone{
        display: none;
    }
}
@media only screen and (max-width: 992px){ 
/* Ini ukuran col-md kalau ada element col-md yang mau dikasih style sendiri di sini aja*/
    .footer-help{
        text-align: center;
    }
    .footer-social-media{
        text-align: center;
    }
    .pohon{
        margin-top: 50px;
    }
    .learn-text-overlay{
        margin: 50px 0 0 0 !important;
    }
    /* .img-section{
        left: 35px;
        font-size: 10px;
    } */

}